
.p6{
  padding: 1.5rem; 
}

.rounded-lg{
  border-radius: 0.5rem; 
}

.shadow-md{
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06); 
}
.bg-pink-600{
  background-color: #DB2777; 
}

.py-20{
  padding-top: 5rem;
  padding-bottom: 5rem; 
  
}
.mb-4{
  margin-bottom: 1rem; 

}

.max-w-7xl{
  max-width: 80rem; 

}

.px-4{
  padding-left: 1rem;
  padding-right: 1rem; 
  
}


@media (min-width: 640px) { 
      .sm-px-6{
      padding-left: 1.5rem;
    padding-right: 1.5rem; 
     }
    
}

@media (min-width: 1024px) { 
      .lg-px-8{
      padding-left: 2rem;
    padding-right: 2rem; 
     }
}

.flex{
  display: flex; 
}
.flex-nowrap{
  flex-wrap: nowrap; 
}
.flex-row{
  flex-direction: row; 
}
.mt-2{
  margin-top: 0.5rem; 
}

.mb-4{
  margin-bottom: 1rem; 
}

.object-right{
  object-position: right; 
}

.bg-white-300{
  background-color: #ffffff; 
}

.w-24{
  width: 6rem; 
}

.h-24{
  height: 6rem; 
}

.inline-block{
  display: inline-block; 
}

.bg-black{
  background-color: #000000; 
}

.px-4{
  padding-left: 1rem;
  padding-right: 1rem; 
}

.py-2{
  padding-top: 0.5rem;
  padding-bottom: 0.5rem; 
}

.hover-bg-gray-700:hover{
      background-color: #374151; 
}



.bg-gray-100{
  background-color: #F3F4F6; 
}

.bg-indigo-100{
  background-color: #E0E7FF; 
}

.bg-blue-100{
  background-color: #DBEAFE; 

}

.hover-bg-gray-700:hover {
background-color: #374151; 
}

.block{
  display: block; 
}
.bg-pink-100{
  background-color: #FCE7F3; 
}

.bg-black{
  background-color: #000000; 
}

.px-6{
  padding-left: 1.5rem;
  padding-right: 1.5rem; 
}

.my-10{
  margin-top: 2.5rem;
  margin-bottom: 2.5rem; 
}
.flex-col{
  flex-direction: column; 
}

.items-center{
  align-items: center; 
}

.text-center{
  text-align: center; 
}

.text-4xl{
  font-size: 2.25rem;
  line-height: 2.5rem; 
}

.font-extrabold{
  font-weight: 800; 
}

.text-white{
  color: #ffffff; 
}


@media (min-width: 640px) { 
      .sm-text-5xl{
      font-size: 3rem;
    line-height: 1; 
     }
}



@media (min-width: 768px) { 
      .md-text-6xl{
      font-size: 3.75rem;
    line-height: 1; 
     }
}

.my-4{
  margin-top: 1rem;
  margin-bottom: 1rem; 
}

.text-xl{
  font-size: 1.25rem;
  line-height: 1.75rem; 
  
}

.py-4{
  padding-top: 1rem;
  padding-bottom: 1rem; 
}

@media (min-width: 1024px) { 
  .lg-container{
      flex:none;
  }
 }

.grid{
  display: grid 
}

.grid-cols-1{
  grid-template-columns: repeat(1, minmax(0, 1fr)); 
}



@media (min-width: 768px) { 
  .md-grid-cols-2{
  
  
  grid-template-columns: repeat(2, minmax(0, 1fr)); 
 }
}

.gap-4{
  gap: 1rem; 
}

.p-4{
  padding: 1rem; 
}

.text-2xl{
  font-size: 1.5rem;
  line-height: 2rem; 
}

.font-bold{
  font-weight: 700; 
}